
.e-thead {
  border-width: 1px;
  border-style: solid;
}

.e-table {
  width: 100%;
  position: center;
  border: 2px solid black;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
