@import '../scss/settings/s.colors.scss';

.e-div__search {
  margin-bottom: 12px;
  color: $color-default-end-color
}

.e-div__searchinput {
  width: 190px;
  padding: 12px 20px;
  margin: 8px 0 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 20px;
}

.e-thead {
  padding-top: 40px;
  width: 100%;
  color: $color-default-end-color;
}

.e-table {
  width: 90%;
  position: center;
  color: $color-default-end-color;
  border-collapse: collapse;
}

th, td {
  border: 3px solid $color-default-end-color;
}

td, tr {
  color: $color-default-end-color;
}

.e-div__edit{
  margin-left:5px;
  margin-right:-10px;
}

.far, .fas
{
  font-size:30px;
}
.e-div__edit, .e-div__delete {

  color: $color-default-end-color;
  justify-content: flex-end;
}

.e-div__edit:hover,.e-div__delete:hover {
  cursor: pointer;
}
td:nth-last-child(-n+2) {
  border: none;
}
