<div  class=e-div>
<div class="e-div__details" *ngIf="account">
  <h1>Info</h1>
  <label class=e-div__label for="companyName">Naam</label>
  <input class=e-div__input id="companyName" name="companyName" type="text" [(ngModel)]="account.companyName" />
  <label class=e-div__label for="lastname">Vat nummer</label>
  <input class=e-div__input id="vatNumber" name="lastname" type="text" [(ngModel)]="account.vatNumber" />
  <label class=e-div__label for="telephoneNumber">Contact Nummer</label>
  <input class=e-div__input id="telephoneNumber" name="telephoneNumber" type="text" [(ngModel)]="account.telephoneNumber" />
  <label class=e-div__label for="street">Straat</label>
  <input class=e-div__input id="street" name="street" type="text" [(ngModel)]="account.street" />
  <label class=e-div__label for="number">Nummer</label>
  <input class=e-div__input id="number" name="number" type="text" [(ngModel)]="account.number" />
  <label class=e-div__label for="city">Gemeente/stad</label>
  <input class=e-div__input id="city" name="city" type="text" [(ngModel)]="account.city" />
  <label class=e-div__label for="zip">Postcode</label>
  <input class=e-div__input id="zip" name="zip" type="text" [(ngModel)]="account.zip" />
  <label class=e-div__label for="country">Land</label>
  <input class=e-div__input id="country" name="country" type="text" [(ngModel)]="account.country" />
</div>
<div class="e-div__buttons">
  <label class="e-div__edit" (click)="updateAccount()">
    <i class="far fa-save"></i>
  </label>
</div>
</div>
