<div class="e-div__search">
<label>filter op naam</label>
<input class="e-div__searchinput" type="text" [(ngModel)]="searchLastname" />
</div>
<table class="e-table">
  <thead class="e-thead">
    <tr>
      <th>Naam</th>
      <th>Voornaam</th>
      <th>Email</th>
      <th>Werk Mail</th>
      <th>Geboorte Datum</th>
      <th>GSM Nummer</th>
      <th>Adres</th>
    </tr>
  </thead>
  <tbody class="e-tbody">
    <ng-container *ngFor="let consultant of consultants | filter:searchLastname">
      <tr>
        <td>{{consultant.lastname}}</td>
        <td>{{consultant.firstname}}</td>
        <td>{{consultant.email}}</td>
        <td>{{consultant.workEmail}}</td>
        <td>{{consultant.birthdate | date:"dd/MM/yyyy"}}</td>
        <td>{{consultant.mobile}}</td>
        <td>{{consultant.city}}</td>

        <td class="e-edit__image" (click)="goToDetails(consultant)">
          <i class="far fa-edit"></i>
        </td>
        <td><i class="far fa-file-alt" (click)="goToContract(consultant)"></i></td>
      </tr>
    </ng-container>
  </tbody>
</table>
