@import '../../scss/settings/s.colors.scss';

h1 {
  color: $color-default-end-color;
}
.e-div__search {
  margin-bottom: 12px;
  color: $color-default-end-color
}

.e-div__searchinput {
  width: 190px;
  padding: 12px 20px;
  margin: 8px 0 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 20px;
}

.e-thead {
  padding-top: 40px;
  width: 100%;
  color: $color-default-end-color;
}

.e-table {
  width: 90%;
  position: center;
  color: $color-default-end-color;
  border-collapse: collapse;
}


th, td {
  border: 3px solid $color-default-end-color;
}

td, tr {
  color: $color-default-end-color;
}
.e-div__buttons {
  display:flex;
  font-size: 25px;
  color: $color-default-end-color;
  order: 1;
  align-self: flex-end;
  justify-content:flex-end;
}

.e-div__back {
  margin: 12px;
}

.e-div__back:hover {
  cursor: pointer;
}

